@if (edit()) {
<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="d-flex align-items-center justify-content-between">
    <mat-form-field class="flex-grow-1">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-form-field class="w-100">
    <mat-label>Content</mat-label>
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>
</form>
} @else {
<div class="d-flex align-items-center justify-content-between">
  <h2 class="m-0">{{ page()?.title }}</h2>
  <button mat-icon-button (click)="onEdit()">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<div>
  <markdown [data]="page()?.content" />
</div>
}
