<div class="container">
  <h1 class="mat-h2">Wiki</h1>

  <div class="feature-container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>📝 Pages</mat-card-title>
        <mat-card-subtitle>Powered by Azure</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          View and search pages in the wiki. Create new pages and edit existing
          ones.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="/pages">View</a>
      </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>✨ Chat</mat-card-title>
        <mat-card-subtitle>Powered by OpenAI</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Ask questions and get answers from AI based on pages in the wiki.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="/chat">Chat</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
