@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "styles/app-theme";

:root {
  @include mat.core();

  $theme: matx.define-theme(
    (
      color: (
        theme-type: light,
        primary: matx.$m3-azure-palette,
        tertiary: matx.$m3-blue-palette,
      ),
    )
  );

  @include matx.color-variants-back-compat($theme);

  @include mat.all-component-themes($theme);

  @include app-theme.theme($theme);
}

.dark-theme {
  $dark-theme: matx.define-theme(
    (
      color: (
        theme-type: dark,
        primary: matx.$m3-cyan-palette,
        tertiary: matx.$m3-orange-palette,
      ),
    )
  );

  @include matx.color-variants-back-compat($dark-theme);

  @include mat.all-component-colors($dark-theme);

  @include app-theme.theme($dark-theme);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
}
